# SQL Subqueries - Lab

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write subqueries to decompose complex queries

## CRM Database Schema

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="images/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database **data.sqlite**.

In [5]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('data.sqlite')
c = conn.cursor()



#Your code here; import the necessary packages

In [ ]:
#Your code here; create the connection and cursor

## Write an Equivalent Query using a Subquery

```SQL
select customerNumber,
       contactLastName,
       contactFirstName
       from customers
       join orders 
       using(customerNumber)
       where orderDate = '2003-01-31';
```

In [13]:
c.execute("""SELECT customernumber, contactlastname,
                    contactfirstname 
                FROM customers
                WHERE customernumber in (select customernumber from orders where orderdate = '2003-01-31')""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df
          #Your code here; use a subquery. No join will be necessary.

  customerNumber contactLastName contactFirstName
0            141          Freyre           Diego

## Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [ ]:
#Your code here

## Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

In [22]:
c.execute('SELECT * from orders')
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,,141
5,10105,2003-02-11,2003-02-21,2003-02-12,Shipped,,145
6,10106,2003-02-17,2003-02-24,2003-02-21,Shipped,,278
7,10107,2003-02-24,2003-03-03,2003-02-26,Shipped,Difficult to negotiate with customer. We need ...,131
8,10108,2003-03-03,2003-03-12,2003-03-08,Shipped,,385
9,10109,2003-03-10,2003-03-19,2003-03-11,Shipped,Customer requested that FedEx Ground is used f...,486
10,10110,2003-03-18,2003-03-24,2003-03-20,Shipped,,187
11,10111,2003-03-25,2003-03-31,2003-03-30,Shipped,,129
12,10112,2003-03-24,2003-04-03,2003-03-29,Shipped,Customer requested that ad materials (such as ...,144
13,10113,2003-03-26,2003-04-02,2003-03-27,Shipped,,124
14,10114,2003-04-01,2003-04-07,2003-04-02,Shipped,,172
15,10115,2003-04-04,2003-04-12,2003-04-07,Shipped,,424
16,10116,2003-04-11,2003-04-19,2003-04-13,Shipped,,381
17,10117,2003-04-16,2003-04-24,2003-04-17,Shipped,,148
18,10118,2003-04-21,2003-04-29,2003-04-26,Shipped,Customer has worked with some of our vendors i...,216
19,10119,2003-04-28,2003-05-05,2003-05-02,Shipped,,382
20,10120,2003-04-29,2003-05-08,2003-05-01,Shipped,,114
21,10121,2003-05-07,2003-05-13,2003-05-13,Shipped,,353
22,10122,2003-05-08,2003-05-16,2003-05-13,Shipped,,350
23,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,,103
24,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...,112
25,10125,2003-05-21,2003-05-27,2003-05-24,Shipped,,114
26,10126,2003-05-28,2003-06-07,2003-06-02,Shipped,,458
27,10127,2003-06-03,2003-06-09,2003-06-06,Shipped,Customer requested special shippment. The inst...,151
28,10128,2003-06-06,2003-06-12,2003-06-11,Shipped,,141
29,10129,2003-06-12,2003-06-18,2003-06-14,Shipped,,324
...,...,...,...,...,...,...,...
296,10396,2005-03-23,2005-04-02,2005-03-28,Shipped,,124
297,10397,2005-03-28,2005-04-09,2005-04-01,Shipped,,242
298,10398,2005-03-30,2005-04-09,2005-03-31,Shipped,,353
299,10399,2005-04-01,2005-04-12,2005-04-03,Shipped,,496
300,10400,2005-04-01,2005-04-11,2005-04-04,Shipped,Customer requested that DHL is used for this s...,450
301,10401,2005-04-03,2005-04-14,,On Hold,Customer credit limit exceeded. Will ship when...,328
302,10402,2005-04-07,2005-04-14,2005-04-12,Shipped,,406
303,10403,2005-04-08,2005-04-18,2005-04-11,Shipped,,201
304,10404,2005-04-08,2005-04-14,2005-04-11,Shipped,,323
305,10405,2005-04-14,2005-04-24,2005-04-20,Shipped,,209
306,10406,2005-04-15,2005-04-25,2005-04-21,Disputed,Customer claims container with shipment was da...,145
307,10407,2005-04-22,2005-05-04,,On Hold,Customer credit limit exceeded. Will ship when...,450
308,10408,2005-04-22,2005-04-29,2005-04-27,Shipped,,398
309,10409,2005-04-23,2005-05-05,2005-04-24,Shipped,,166
310,10410,2005-04-29,2005-05-10,2005-04-30,Shipped,,357
311,10411,2005-05-01,2005-05-08,2005-05-06,Shipped,,233
312,10412,2005-05-03,2005-05-13,2005-05-05,Shipped,,141
313,10413,2005-05-05,2005-05-14,2005-05-09,Shipped,Customer requested that DHL is used for this s...,175
314,10414,2005-05-06,2005-05-13,,On Hold,Customer credit limit exceeded. Will ship when...,362
315,10415,2005-05-09,2005-05-20,2005-05-12,Disputed,Customer claims the scales of the models don't...,471
316,10416,2005-05-10,2005-05-16,2005-05-14,Shipped,,386
317,10417,2005-05-13,2005-05-19,2005-05-19,Disputed,Customer doesn't like the colors and precision...,141
318,10418,2005-05-16,2005-05-24,2005-05-20,Shipped,,412
319,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,,382
320,10420,2005-05-29,2005-06-07,,In Process,,282
321,10421,2005-05-29,2005-06-06,,In Process,Custom shipping instructions were sent to ware...,124
322,10422,2005-05-30,2005-06-11,,In Process,,157
323,10423,2005-05-30,2005-06-05,,In Process,,314
324,10424,2005-05-31,2005-06-08,,In Process,,141
325,10425,2005-05-31,2005-06-07,,In Process,,119

In [27]:
c.execute("""select productName,
                    count(distinct customerNumber) numPurchasers
                    from products
                    join orderdetails
                    using(productCode)
                    join orders
                    using (orderNumber)
                    group by 1
                    order by numPurchasers desc
                    ;
          """
         )

In [31]:
c.execute("""SELECT productname, count(distinct customernumber)
                FROM products
                JOIN orderdetails
                USING (productcode)
                JOIN orders
                USING (ordernumber)
                """)

df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df#Your code here

  productName  count(distinct customernumber)
0  Pont Yacht                              98

In [37]:
c.execute("""SELECT productname, count(distinct customernumber) numpur
                FROM products
                JOIN orderdetails
                USING (productcode)
                JOIN orders
                USING (ordernumber)
                group by 1""")

df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df#Your code here

                                     productName  numpur
0            18th Century Vintage Horse Carriage      26
1                          18th century schooner      24
2                         1900s Vintage Bi-Plane      26
3                        1900s Vintage Tri-Plane      22
4                              1903 Ford Model A      21
5                            1904 Buick Runabout      22
6                             1911 Ford Town Car      23
7               1912 Ford Model T Delivery Wagon      25
8                    1913 Ford Model T Speedster      26
9                       1917 Grand Touring Sedan      24
10                      1917 Maxwell Touring Car      24
11                         1926 Ford Fire Engine      23
12              1928 British Royal Navy Airplane      22
13                      1928 Ford Phaeton Deluxe      23
14                        1928 Mercedes-Benz SSK      21
15                  1930 Buick Marquette Phaeton      23
16           1932 Alfa Romeo 8C2300 Spider Sport      23
17                     1932 Model A Ford J-Coupe      24
18                            1934 Ford V8 Coupe      27
19                         1936 Chrysler Airflow      24
20           1936 Harley Davidson El Knucklehead      25
21              1936 Mercedes Benz 500k Roadster      21
22      1936 Mercedes-Benz 500K Special Roadster      25
23                     1937 Horch 930V Limousine      26
24                          1937 Lincoln Berline      25
25     1938 Cadillac V-16 Presidential Limousine      23
26                       1939 Cadillac Limousine      23
27                   1939 Chevrolet Deluxe Coupe      24
28                      1940 Ford Delivery Sedan      26
29                        1940 Ford Pickup Truck      25
..                                           ...     ...
79                              1995 Honda Civic      26
80                         1996 Moto Guzzi 1100i      26
81   1996 Peterbilt 379 Stake Bed with Outrigger      23
82                              1997 BMW F650 ST      24
83                             1997 BMW R 1100 S      25
84                1998 Chrysler Plymouth Prowler      21
85                  1999 Indy 500 Monte Carlo SS      21
86                        1999 Yamaha Speed Boat      26
87                             2001 Ferrari Enzo      23
88                           2002 Chevy Corvette      18
89                              2002 Suzuki XREO      25
90                            2002 Yamaha YZR M1      24
91          2003 Harley-Davidson Eagle Drag Bike      25
92                                 ATA: B757-300      25
93                America West Airlines B757-200      25
94                   American Airlines: B767-300      23
95                     American Airlines: MD-11S      26
96                              Boeing X-32A JSF      27
97                      Collectable Wooden Train      20
98                      Corsair F4U ( Bird Cage)      26
99              Diamond T620 Semi-Skirted Tanker      22
100                           F/A 18 Hornet 1/72      24
101                                   HMS Bounty      26
102                               P-51-D Mustang      24
103                                   Pont Yacht      24
104                                The Mayflower      22
105                               The Queen Mary      24
106                        The Schooner Bluenose      23
107                                  The Titanic      22
108                    The USS Constitution Ship      23

[109 rows x 2 columns]

## Select the Employee Number, Office Code, City (of the office), and Name (First and Last) of those Employees who Sold Products that Have Been Ordered by Less Then 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [38]:
c.execute("""SELECT employeenumber, officecode, city, firstname, lastname
                FROM employees
                JOIN OFFICES
                USING (officecode)
                WHERE IN (
                    SELECT productcode, COUNT())""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df#Your code here

   employeeNumber officeCode           city firstName   lastName
0            1002          1  San Francisco     Diane     Murphy
1            1056          1  San Francisco      Mary  Patterson
2            1076          1  San Francisco      Jeff   Firrelli
3            1088          6         Sydney   William  Patterson
4            1102          4          Paris    Gerard     Bondur
5            1143          1  San Francisco   Anthony        Bow
6            1165          1  San Francisco    Leslie   Jennings
7            1166          1  San Francisco    Leslie   Thompson
8            1188          2         Boston     Julie   Firrelli
9            1216          2         Boston     Steve  Patterson
10           1286          3            NYC  Foon Yue      Tseng
11           1323          3            NYC    George     Vanauf
12           1337          4          Paris      Loui     Bondur
13           1370          4          Paris    Gerard  Hernandez
14           1401          4          Paris    Pamela   Castillo
15           1501          7         London     Larry       Bott
16           1504          7         London     Barry      Jones
17           1611          6         Sydney      Andy     Fixter
18           1612          6         Sydney     Peter      Marsh
19           1619          6         Sydney       Tom       King
20           1621          5          Tokyo      Mami      Nishi
21           1625          5          Tokyo   Yoshimi       Kato
22           1702          4          Paris    Martin     Gerard

## Select the Employee Number, Name (First and Last) and Number of Customers of Employees Who's Customers Have an Average Credit Limit of Over 15K

In [ ]:
#Your code here

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!